.product-price-container-name-visibility-hidden {
    visibility: hidden;
}

.product-price-container-name-visibility-visible {
    visibility: visible;
}

.product-price-container-name-height {
    height: 0;
}
.product-price-container-name-margin-bottom-0px {
    margin-bottom: 0;
}

.product-price-container-name-margin-bottom-10px {
    margin-bottom: 10px;
}

.product-price-container-name-display-none {
    display: none;
}