.product-attribute-value-color-white {
    color: white !important;
}

.product-attribute-value-border-2px {
    border: 2px solid black !important;
}

.cart-product-image-prev-next-button-display-none {
    display: none !important;
}

.cart-product-image-prev-next-button-visibility-visible {
    visibility: visible;
}

.cart-product-image-prev-next-button-visibility-hidden {
    visibility: hidden;
}

.product-attribute-value-color-white {
    color: white;
}

.product-attribute-value-border-2px {
    border: 2px solid black;
}

.product-price-container-name-visibility-hidden {
    visibility: hidden;
}

.product-price-container-name-visibility-visible {
    visibility: visible;
}

.product-price-container-name-height {
    height: 0;
}
.product-price-container-name-margin-bottom-0px {
    margin-bottom: 0;
}

.product-price-container-name-margin-bottom-10px {
    margin-bottom: 10px;
}

.product-price-container-name-display-none {
    display: none;
}