#ProductsPage {
    width: 1240px;
    margin: 0 auto;
    padding-left: 100px;
    padding-right: 100px;
}

.category-section {
    height: 68px;
    margin-top: 80px;
    margin-bottom: 87px;
}

.category-section h2 {
    font-weight: 400;
    font-size: 42px;
    line-height: 160%;
    text-transform: capitalize;
}

.products-section {
    display: flex;
    flex-wrap: wrap;
}

.product-box {
    width: 386px;
    height: 444px;
    padding-top: 15px;
}

.product-image-container {
    position: relative;
    text-align: center;
    width: 356px;
    height: 338px;
    margin: 0 auto;
}

.product-image-container img {
    height: 100%;
}

.product-out-of-stock {
    position: absolute;
    color: #8D8F9A;
    left: 25.42%;
    right: 25.71%;
    top: 44.24%;
    bottom: 43.94%;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;
}

.product-name-and-price-container {
    width: 356px;
    margin-left: 16px;
}
.product-name-and-price-container h3 {
    font-weight: 300;
    font-size: 18px;
    line-height: 160%;
    margin-top: 24px;
}

.product-name-and-price-container p {
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
}




